<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUE</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav>
        <ul>
            <li><a href="principal.html">Principal</a></li>
            <li><a href="principalProfessor.html">Professor</a></li>
            <li><a href="principalCoordenador.html">Coordenador</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Situação Acadêmica</h1>

        <table>
            <thead>
                <tr>
                    <td>Disciplinas</td>
                    <td>Situação</td>
                    <td>Nota</td>
                    <td>Faltas</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Banco de Dados</td>
                    <td>Matriculado</td>
                    <td>8.3</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Modelagem de Projetos</td>
                    <td>Conlcuído</td>
                    <td>7.8</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Internet das Coisas</td>
                    <td>Matriculado</td>
                    <td>4.0</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Lógica de Programação</td>
                    <td>Matriculado</td>
                    <td>7.0</td>
                    <td>12</td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="">Contestar</a>
            <a href="principalAluno.html">Voltar</a>
        </div>    
    </div>
</body>

</html>