<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="principal.html">Principal</a></li>
            <li><a href="principalProfessor.html">Professor</a></li>
            <li><a href="principalCoordenador.html">Coordenador</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Financeiro</h1>

        <table>
            <thead>
                <tr>
                    <td>Vencimento</td>
                    <td>Valor</td>
                    <td>Situação</td>
                    <td>Boleto</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>15/01</td>
                    <td>R$450,00</td>
                    <td>Pago</td>
                    <td><a href="">Download</a></td>
                </tr>
                <tr>
                    <td>15/02</td>
                    <td>R$450,00</td>
                    <td>Pago</td>
                    <td><a href="">Download</a></td>
                </tr>
                <tr>
                    <td>15/03</td>
                    <td>R$450,00</td>
                    <td>Pago</td>
                    <td><a href="">Download</a></td>
                </tr>
                <tr>
                    <td>15/04</td>
                    <td>R$450,00</td>
                    <td>Pendente</td>
                    <td><a href="">Download</a></td>
                </tr>
            </tbody>
        </table>
        <div>
            <a href="principalAluno.html">Voltar</a>
        </div>
    </div>
</body>
</html>