<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="principal.html">Principal</a></li>
            <li><a href="principalAluno.html">Aluno</a></li>
            <li><a href="principalProfessor.html">Professor</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Criar turma</h1>

        <table>
            <thead>
                <tr>
                    <td></td>
                    <td>Disciplina</td>
                    <td>CH</td>
                    <td>Professor</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Banco de Dados</td>
                    <td>45h</td>
                    <td><select name="professor" id="professor">
                        <option value="" unabled selected hidden></option>
                        <option value="jorge">Jorge</option>
                        <option value="rafael">Rafael</option>
                        <option value="pedro">Pedro</option>
                    </select></td> 
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Modelagem de Projetos</td>
                    <td>80h</td>
                    <td><select name="professor" id="professor">
                        <option value="" unabled selected hidden></option>
                        <option value="jorge">Jorge</option>
                        <option value="rafael">Rafael</option>
                        <option value="pedro">Pedro</option>
                    </select></td> 
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Internet das Coisas</td>
                    <td>24h</td>
                    <td><select name="professor" id="professor">
                        <option value="" unabled selected hidden></option>
                        <option value="jorge">Jorge</option>
                        <option value="rafael">Rafael</option>
                        <option value="pedro">Pedro</option>
                    </select></td> 
                </tr>
                <tr>
                    <td><input type="checkbox"></td>
                    <td>Lógica de Programação</td>
                    <td>100h</td>
                    <td><select name="professor" id="professor">
                        <option value="" unabled selected hidden></option>
                        <option value="jorge">Jorge</option>
                        <option value="rafael">Rafael</option>
                        <option value="pedro">Pedro</option>
                    </select></td> 
                </tr>
            </tbody>
        </table>
        <div>
            <a href="coordenadorCriar3.html">Confirmar</a>
            <a href="coordenadorCriar.html">Voltar</a>
        </div>
    </div>
</body>
</html>