<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="principal.html">Principal</a></li>
            <li><a href="principalAluno.html">Aluno</a></li>
            <li><a href="principalProfessor.html">Professor</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Quadro de Alunos</h2>
        <table>
                <thead>
                    <tr>
                        <td>Aluno</td>
                        <td>Faltas</td>
                        <td>Presença</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gabriel Lemos</td>
                        <td>13</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Ana Carolina</td>
                        <td>5</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Rodrigo Afonso</td>
                        <td>7</td>
                        <td><input type="checkbox"></td>
                    </tr>
                </tbody>
            </table>

        <div>
            <a href="">Adicionar</a>
            <a href="">Remover</a>
            <a href="coordenadorGerenciar.html">Voltar</a>
        </div>
    </div>
</body>
</html>