<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="principal.html">Principal</a></li>
            <li><a href="principalAluno.html">Aluno</a></li>
            <li><a href="principalProfessor.html">Professor</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Gerenciar Turmas</h2>
        <div class="selecionarTurma">
            <label for="turma">Selecione uma turma</label>
            <select name="turma" id="turma">
                <option value="" unabled selected hidden>Selecione aqui</option>
                <option value="Turma1">Turma 1</option>
                <option value="Turma2">Turma 2</option>
            </select>

        <div>
            <a href="coordenadorAlunos.html">Quadro de Alunos</a>
            <a href="">Calendário</a>
            <a href="principalCoordenador.html">Voltar</a>
        </div>
    </div>
</body>
</html>