<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="principal.html">Principal</a></li>
            <li><a href="principalAluno.html">Aluno</a></li>
            <li><a href="principalProfessor.html">Professor</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Criar Turma</h2>
        <div class="selecionarTurno">
            <label for="turno">Selecione o turno</label>
            <select name="turno" id="turno">
                <option value="" unabled selected hidden>Selecione aqui</option>
                <option value="manha">Manhã</option>
                <option value="tarde">Tarde</option>
                <option value="noite">Noite</option>
            </select>
            <label for="curso">Selecione um curso</label>
            <select name="curso" id="curso">
                <option value="" unabled selected hidden>Selecione aqui</option>
                <option value="desenvolvimento de sistemas">Desenvolvimento de Sistemas</option>
                <option value="tecnico em quimica">Técnico em Química</option>
            </select>
        </div>
        <div>
            <a href="coordenadorCriar2.html">Continuar</a>
            <a href="principalCoordenador.html">Voltar</a>
        </div>
    </div>
</body>
</html>