<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="principal.html">Principal</a></li>
            <li><a href="principalProfessor.html">Professor</a></li>
            <li><a href="principalCoordenador.html">Coordenador</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Bem vindo, Aluno</h2>
            <div class="selecionarCurso">
                <label for="curso">Selecione um curso</label>
                <select name="curso" id="curso">
                    <option value="" unabled selected hidden>Selecione aqui</option>
                    <option value="Curso1">Curso 1</option>
                    <option value="Curso2">Curso 2</option>
                </select>
            </div>

            <div>
                <a href="alunoDados.html">Dados Cadastrais</a>
                <a href="alunoSituacao.html">Situação Acadêmica</a>
                <a href="alunoFinanceiro.html">Financeiro</a>
                <a href="principal.html">Sair</a>
            </div>
    </div>
</body>
</html>