<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="principalAluno.html">Aluno</a></li>
            <li><a href="principalProfessor.html">Professor</a></li>
            <li><a href="principalCoordenador.html">Coordenador</a></li>
            <li><a href="sobre.html">Sobre</a></li>
        </ul>
    </nav>
    <form action="#" method="post">
        <h1>Login no SUE</h1>
        <input type="text" name="username" placeholder="Usuário" required>
        <input type="text" name="password" placeholder="Senha" required>
        <input type="submit" value="Acessar">
    </form>
</body>
</html>