<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="principal.html">Principal</a></li>
            <li><a href="principalAluno.html">Aluno</a></li>
            <li><a href="principalCoordenador.html">Coordenador</a></li>
            <li><a href="">Sobre</a></li>
        </ul>
    </nav>
    <div class="container">
        <h2>Notas</h2>
        <h3>Turma<br>Disciplina</h3>
            <table>
                <thead>
                    <tr>
                        <td>Aluno</td>
                        <td>Notas</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Gabriel Lemos</td>
                        <td>6.8</td>
                    </tr>
                    <tr>
                        <td>Ana Carolina</td>
                        <td>8.2</td>
                    </tr>
                    <tr>
                        <td>Rodrigo Afonso</td>
                        <td>7.0</td>
                    </tr>
                </tbody>
            </table>
            <div>
                <a href="">Atualizar Notas</a>
                <a href="principalProfessor.html">Voltar</a>
            </div>
    </div>
</body>
</html>