<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SUE</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <nav>
        <ul>
            <li><a href="principal.html">Página Inicial</a></li>
            <li><a href="principalAluno.html">Aluno</a></li>
            <li><a href="principalProfessor.html">Professor</a></li>
            <li><a href="principalCoordenador.html">Coordenador</a></li>
        </ul>
    </nav>
    <div class="container">
        <h1>Sobre</h1>
        <div class="sobre">

        <p>     Projeto SUE para a matéria de Desenvolvimento de Sistemas, ministrada peo professor Jorge Luiz dos Santos.<br>
            Alunos participantes: Gabriel Lemos, Ana Carolina, Rodrigo Afonso, Tales de França.
        </p>
        </div>
    </div>
</body>
</html>